CS157B-XML-master/CS157B-XML-master/XML/thread.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="thread_type">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="date" type="xs:string"/>
        <xs:attribute name="forum" type="xs:string"/>
        <xs:attribute name="user" type="xs:string"/>
    </xs:complexType>
    <xs:element name="threadList" type="threadList_type"/>
</xs:schema>