CS157B-XML-master/CS157B-XML-master/XML/user.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="user_type">
        <xs:sequence>
            <xs:element name="username" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="email" type="xs:string"/>
    </xs:complexType>
    
    <xs:element name="userList" type="userList_type"/>

</xs:schema>