CS157B-XML-master/CS157B-XML-master/XML/userDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="userDetails_type">
        <xs:sequence>        
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="userDetailsList" type="userDetailsList_type"/>
</xs:schema>